<!--N4-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<ul>
    <div>
        <h1 th:text="${news.title}">Title</h1>
        <h6 th:text="${news.author.firstName} + ' ' + ${news.author.lastName} + '-' + ${news.date}">
            Jan Kowalksi - 21.06.2017
        </h6>
        <p th:text="${news.description}">Description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci
            impedit magni minima, odioquis sit unde voluptates! Accusamus aperiam
            eius magni nulla numquam perspiciatis placeat quas quidem quod voluptatum.
        </p>
    </div>
</ul>
</body>
</html>